<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<a href="#main-content" class="skip-link">Skip to Content</a>
<header>
  <div class="nav-container">
    <button id="btn-hamburger" class="btn-hamburger">
      <svg viewBox="0 0 100 80" width="100%" height="100%">
        <rect width="100" height="15" rx="8"></rect>
        <rect y="30" width="100" height="15" rx="8"></rect>
        <rect y="60" width="100" height="15" rx="8"></rect>
      </svg>
    </button>
    <div class="nav-container__logo">
      Logo
    </div>
  </div>
  <nav id="nav-drawer" class="nav-drawer">
    <ul class="nav-drawer__list">
      <li class="nav-drawer__item"><a href="/">Home</a></li>
      <li class="nav-drawer__item"><a href="#">Favorite</a></li>
      <li class="nav-drawer__item"><a href="https://risnanto.web.id">About Us</a></li>
    </ul>
  </nav>
</header>
<main id="main-content">
  <h1>Restaurant Apps Starter Project</h1>
  <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
  <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
  <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_2.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_3.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_4.jpg" width="450" alt="">
</main>
</body>
</html>
