<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yumme - Food App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/favicon.png" sizes="16x16 32x32" type="image/png">
</head>
<body>
<a href="#main-content" class="skip-link">Skip to Content</a>
<header>
  <div class="nav-container">
    <picture class="nav-logo">
      <a href="/"><img src="./images/logo-white.png" alt="Yumme Logo" class="nav-logo__img"></a>
    </picture>
    <nav id="nav-bar" class="nav-bar">
      <ul class="nav-bar__list"></ul>
    </nav>
  </div>
  <button id="btn-hamburger" class="btn-hamburger" aria-label="Open Navigation Menu">
    <svg viewBox="0 0 100 80" width="22.5" height="22.5" fill="#ffffff">
      <rect class="hamburger-line-top" width="100" height="15" rx="8"></rect>
      <rect class="hamburger-line-mid" y="30" width="100" height="15" rx="8"></rect>
      <rect class="hamburger-line-btm" y="60" width="100" height="15" rx="8"></rect>
    </svg>
  </button>
  <nav id="nav-drawer" class="nav-drawer">
    <ul class="nav-drawer__list"></ul>
  </nav>
</header>
<main id="main-content" class="main__content"></main>
<footer>
  <nav id="nav-footer" class="nav-footer">
    <picture class="nav-logo">
      <img src="./images/logo-white.png" alt="Yumme Logo" class="nav-logo__img">
    </picture>
    <ul class="nav-footer__list"></ul>
  </nav>
  <div class="footer__copyright">Copyright © 2020 - Yumme App<br>Made with ♥ by <a href="https://risnanto.web.id" aria-label="Heri's Personal Website Link">Heri</a></div>
</footer>
</body>
</html>
