.skip-link {
  position: absolute;
  top: -3em;
  display: inline-block;
  padding: 0 1em;
  background-color: $main-color;
  line-height: 3em;
  color: $white-color;
  z-index: 100;

  &:focus {
    top: 0;
  }
}

header {
  display: flex;
  place-items: center;
  top: 0;
  height: 6rem;
  width: 100%;
  background-color: $main-color;
}

.nav-container {
  position: fixed;
  display: flex;
  place-content: center;
  align-items: center;
  height: 64px;
  width: 100%;
  padding: 0 1rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-logo__img {
  height: 3rem;
}

.btn-hamburger {
  position: fixed;
  top: 1.5rem;
  left: 1rem;
  border: none;
  background-color: $main-color;
  width: 3rem;
  height: 3rem;
  padding: 0.8rem;
  border-radius: 50%;
  box-shadow: $btn-main-shadow;
  z-index: 1;

  & svg {
    fill: $white-color;
  }

  &:hover {
    cursor: pointer;
  }
}

.nav-drawer {
  position: fixed;
  top: 6rem;
  left: 1rem;
  transform: scale(0);
  transform-origin: 0 0;
  transition: transform 0.3s ease-in-out;
  height: auto;
  width: 70%;
  background-color: $main-color;
  border-radius: 2rem;
  box-shadow: 0px 6px 12px -2px #590d1c;
  z-index: 2;

  &.is-open {
    transform: scale(1);
  }

  // position: fixed;
  // top: 0;
  // transform: translate(-101%, 0);
  // transition: transform 0.3s ease-in-out;
  // height: 100%;
  // width: 70%;
  // background-color: $main-color;
  // z-index: 2;

  // &.is-open {
  //   transform: translate(0, 0);
  // }
}
.nav-drawer__list {
  list-style: none;
  padding: 0;
}
.nav-drawer__item {
  margin: 0.25rem 0;

  a {
    display: inline-block;
    width: 100%;
    padding: 0 2rem;
    color: $text-white;
    line-height: 3;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background-color: $white-color;
      color: $text-main;
    }
  }
}