* {
  box-sizing: border-box;
}


html, body, main {
  min-height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: $main-color;
  font-family: $content-font;
  line-height: 1.4;
}

main {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  background: $white-color;
  border-radius: 2rem 2rem 0 0;
  min-height: 600px;
  padding: 1rem 0;
}

footer {
  position: relative;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: $main-color;
}
.footer__copyright {
  padding: 1rem 2rem;
  color: $text-white;
  background-color: $main-color-darker;
  a {
    text-decoration: none;
    color: $text-white;
  }
}

a {
  color: $text-black;
}


.text-gray {
  color: $gray-color;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  background-color: $white-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: hsl(0, 0%, 80%, 0.80);
}

:focus {
  outline: 1px dotted $gray-color;
}

@include media(">=large") {
  body {
    background-color: $white-color;
  }

  .main__content {
    max-width: 1000px;
    margin: 0 auto;
  }

  footer {
    border-radius: 2rem 2rem 0 0;
  }
}